<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="activeExtensions" type="Sciendo.Playlist.Translator.Configuration.ExtensionsPlaylistsConfigSection, Sciendo.Playlist.Translator"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <activeExtensions>
    <extensions>
      <add key="m3u" value=".m3u"/>
      <add key="psfx" value=".xspf"/>
    </extensions>
  </activeExtensions>
</configuration>
