<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="12.1.0" targetFramework="net461" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Sciendo.ArtistClassifier.NLP.NER" version="1.0.0-Build00036" targetFramework="net461" />
  <package id="Sciendo.ArtistEnhancer" version="1.0.0-Build00036" targetFramework="net461" />
  <package id="Sciendo.Config" version="1.0.7" targetFramework="net461" />
  <package id="Sciendo.Web" version="1.0.7" targetFramework="net461" />
  <package id="Sciendo.Wiki.Search" version="1.0.0-Build00036" targetFramework="net461" />
  <package id="Serilog" version="2.8.0" targetFramework="net461" />
  <package id="Serilog.Extensions.Logging" version="3.0.1" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net461" />
  <package id="Stanford.NLP.NER" version="3.9.2.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Json" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>