<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mixxx" type="Sciendo.Mixx.DataAccess.Configuration.MixxxConfigurationSection, Sciendo.Mixx.DataAccess" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <mixxx mixxxDatabaseFile = "C:\Users\octo\AppData\Local\Mixxx\mixxxdb.sqlite"/>
</configuration>