<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="activeExtensions" type="Sciendo.T2F.Configuration.ExtensionsWithTagsConfigSection, Sciendo.T2F" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <activeExtensions>
    <extensions>
      <add key="mp3" value=".mp3"/>
      <add key="ogg" value=".ogg"/>
      <add key="flac" value=".flac"/>
      <add key="m4a" value=".m4a"/>
      <add key="wma" value=".wma"/>
    </extensions>
  </activeExtensions>
</configuration>